extends _layout

block head
  title Dashboard

block body
  h2 Dashboard
  p Welcome, #{currentUser.username}!

  h3 Users
  ul
    each user in users
      li= user.username


  form(action="/logout", method="POST")
    button.w-32(type="submit") Log out
