extends _layout

block head
  title Log in

block body
  h2 Log in
  form#login-form(action='/login' method='POST')
    label(for='username') Username:
    input#username(type='text' name='username' required)
    br
    label(for='password') Password:
    input#password(type='password' name='password' required)
    br
    input(type='submit' value='Submit')
