extends _layout

block head
  title Sign up

block body
  h2 Sign up
  form#signup-form(action='/signup' method='post')
    label(for='username') Username:
    input#username(type='text' name='username' required autofocus)
    br
    label(for='password') Password:
    input#password(type='password' name='password' required)
    br
    input.w-32(type='submit' value='Submit')
