doctype html
html
  head
    title WATCH THIS
  body
    h2 Welcome to watch this!
    form(action="/login")
        button(type="submit") LOG IN HERE
    form(action="/signup")
        button(type="submit") SIGN UP HERE BITCH

