extends _layout

block head
  title Watch This

block body
  h2 Welcome to Watch This!
  form(action="/login")
      button(type="submit") LOG IN HERE
  form(action="/signup")
      button(type="submit") SIGN UP HERE BITCH
