extends _layout

block head
  title Watch This

block body
  h2 Welcome to Watch This!
  form(action="/login")
      button.w-32.primary(type="submit") Log in
  form(action="/signup")
      button.w-32(type="submit") Sign up
